#contenedor{
    width:360px;
    margin: auto;
    background-color: floralwhite;
    padding-left: 20px;
    font-family: Roboto,sans-serif;
}

span{
    width:100px;
    display: block;
    float: left;
    padding-left: 4px;
}

.nom{
    background-color:darkgray;
}

.titu{
    background-color:cyan;
}

li{
    list-style: none;
    margin-top: 1px;
}

ul{
    margin: 0;
    padding-left: 0;
}